Data Overview

Let's inspect the data and it's properties.

First load the data

In [6]:
from IPython.display import display, HTML
from analysis import Analysis

analysis = Analysis('weather', logger=display)
analysis.load_data()

data = analysis.data

display(data.head())

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>actual_mean_temp</th>
      <th>actual_min_temp</th>
      <th>actual_max_temp</th>
      <th>average_min_temp</th>
      <th>average_max_temp</th>
      <th>record_min_temp</th>
      <th>record_max_temp</th>
      <th>record_min_temp_year</th>
      <th>record_max_temp_year</th>
      <th>actual_precipitation</th>
      <th>average_precipitation</th>
      <th>record_precipitation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2014-07-01</td>
      <td>83</td>
      <td>72</td>
      <td>93</td>
      <td>68</td>
      <td>86</td>
      <td>52</td>
      <td>102</td>
      <td>1988</td>
      <td>1901</td>
      <td>0.00</td>
      <td>0.13</td>
      <td>1.04</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2014-07-02</td>
      <td>86</td>
      <td>75</td>
      <td>96</td>
      <td>68</td>
      <td>86</td>
      <td>52</td>
      <td>103</td>
      <td>1965</td>
      <td>1901</td>
      <td>0.21</td>
      <td>0.13</td>
      <td>1.73</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2014-07-03</td>
      <td>83</td>
      <td>74</td>
      <td>92</td>
      <td>68</td>
      <td>87</td>
      <td>54</td>
      <td>104</td>
      <td>1957</td>
      <td>1966</td>
      <td>0.09</td>
      <td>0.12</td>
      <td>3.66</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2014-07-04</td>
      <td>73</td>
      <td>68</td>
      <td>78</td>
      <td>68</td>
      <td>87</td>
      <td>52</td>
      <td>103</td>
      <td>1986</td>
      <td>1966</td>
      <td>0.04</td>
      <td>0.13</td>
      <td>2.08</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2014-07-05</td>
      <td>74</td>
      <td>64</td>
      <td>83</td>
      <td>69</td>
      <td>87</td>
      <td>55</td>
      <td>100</td>
      <td>1963</td>
      <td>1999</td>
      <td>0.00</td>
      <td>0.13</td>
      <td>4.38</td>
    </tr>
  </tbody>
</table>
</div>

Set the predictor variable

In [9]:
predictor = 'actual_mean_temp'

Get correlations of predictor against all other features in the dataset

In [12]:
features = list(analysis.data.columns)
features.remove('date')
features.remove(predictor)

for feature in features:
    display(str(feature + ': ' + str(data[predictor].corr(data[feature]))))

'actual_min_temp: 0.987962923738'

'actual_max_temp: 0.989406889896'

'average_min_temp: 0.917104308047'

'average_max_temp: 0.91974276358'

'record_min_temp: 0.911045767509'

'record_max_temp: 0.881164956128'

'record_min_temp_year: 0.269552825569'

'record_max_temp_year: -0.0328080378862'

'actual_precipitation: 0.0405174921741'

'average_precipitation: 0.491630669565'

'record_precipitation: 0.345911267578'

In [15]:
# Just set feature and predictors to anything for now
features = [predictor]
analysis.set_feature_predictor_columns(features, predictor)

analysis.train_test_split()
analysis.visualize_data()

'Number of train data points: 292'

'Number of test data points: 73'